body{
    font-family:Arial, Helvetica, sans-serif;
    color:#777;
    background-color:#777;
    width:960px;
    font-size:18px;
    text-align:center;
    overflow:auto;
    margin-left:auto;
    margin-right:auto;
}

header, nav, aside {
    background-color:#ebebeb;
    width:495px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    padding:20px;
}

footer {
    clear:both;
    background-color:#ebebeb;
    width:495px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    padding:20px;
}

section{
    position:absolute;
    background-color:#ebebeb;
    color:#777;
    width:300px;
    height:190px;
    left:360px;
    clear:both;
    margin-top:10px;
} 

aside{
    width:185px;
    height:150px;
    right:370px;
    margin-left:522px;
    clear:both;
}


article {
    position:absolute;
    background-color:#777;
    color:#ebebeb;
    width:200px;
    height:90px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    padding:10px;
    z-index:10;
    left:36px;
}

h1, p {
    color:#777;
    background-color:#ebebeb;
    width:495px;
    margin-left:auto;
    margin-right:auto;
    margin-top:-40px;
    padding:5px;
}

article div {
    margin-top:-20px;
}

.backgroundLightGray {
    background-color:#ebebeb;
    color:#777;
}

.margin10 {
    margin-top:10px;
}

.padding5 {
    padding: 6px 2px;
}